name: Build Flutter AAB

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      # Create .env in repo root
      - name: Create .env file
        run: |
          echo "API_KEY=${{ secrets.API_KEY }}" > .env

      - name: Install dependencies
        run: flutter pub get

      - name: Build app bundle
        run: flutter build appbundle

      - name: Upload AAB
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/bundle/release/app-release.aab
